.card {
  width: 100%;
  position: relative;
}

.card__image {
  border-radius: 8px;
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
}

.card__delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 30%;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/deleteDefault.png");
  border: none;
  background-color: transparent;
  transition: background-image 0.2s ease-in-out;
}

.card__delete-btn:hover {
  opacity: 1;
  background-image: url("../images/deleteHover.png");
}

.card__title-content {
  display: flex;
  margin: 12px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 92%;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.card__like-btn {
  margin: auto 0 auto auto;
  background: url(../images/Union.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  width: 23px;
  height: 20px;
  padding: 0;
  opacity: 0.4;
  transition: opacity 0.2s ease;
}

.card__like-btn_liked {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  background-image: url(../images/Liked.png);
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked:hover {
  opacity: 0.7;
}

/* Mobile View */
@media screen and (max-width: 640px) {
  .card {
    width: 100%;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
  }
}
