.card {
  width: 413px;
}

.card__image {
  border-radius: 10px;
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
}

.card__title-content {
  display: flex;
  margin: 12px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 95%;
}

.card__like-btn {
  margin: 0 0 0 auto;
}

/* Mobile View */
@media screen and (max-width: 320px) {
  .card {
    width: 288px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }
}