.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  padding: 0 20px;
  transition: all 0.3s ease;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  background-color: white;
  padding: 32px 50px;
  max-width: 730px;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
}

.modal__image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.modal__container_image {
  max-height: 80vh;
  max-width: 80vw;
  background-color: transparent;
  width: fit-content;
}

.modal__close-btn {
  position: absolute;
  background-image: url(../images/CloseIcon.png);
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  cursor: pointer;
  opacity: 70%;
  transition: opacity 0.2s ease-in-out;
  padding: 0;
}

.modal__close-btn_image {
  background-image: url("../images/whiteCloseIcon.svg");
  background-color: transparent;
  right: -12.5px;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  color: #212121;
  font-family: "Poppins", Arial, sans-serif;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  opacity: 70%;
  font-family: "Poppins", Arial, sans-serif;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid black;
  font-family: "Poppins", Arial, sans-serif;
  opacity: 40%;
  transition: opacity 0.2s ease-in-out;
}

.modal__input_error {
  border: 1px solid #FF0000;
  opacity: 60%;
}

.modal__label:hover {
  opacity: 1;
}

.modal__input:not(:placeholder-shown) {
  opacity: 1;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  border: none;
  background-color: #212121;
  color: #FCF5E5;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.2s ease-in-out;
}

.modal__submit-btn:hover {
  opacity: 70%;
}

.modal__submit-btn_inactive {
  opacity: 40%;
  cursor: auto;
}

.modal__caption {
  color: white;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
  font-family: "Poppins", Arial, sans-serif;
  margin: 8px 0 0;
  font-size: 20px;
  line-height: 1.2;
  max-width: 100%;
  width: fit-content;
}

.modal__error_visible {
  color: #FF0000;
}

@media screen and (max-width: 640px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__container_image {
    padding: 0px;
    width: 288px;
    min-width: 288px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__close-btn_image {
    top: -48px;
    right: 0;
  }

}